@import "src/main";
@import "elr-scss-reset/src/main";

@include elr-reset;

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}

.offscreen-content-wrapper {
  height: 700px;
  border: 1px solid #1976d2;
  position: relative;
  overflow: hidden;

  .menu-button {
    position: absolute;
    top: 0;
    left: 0;
  }

  button {
    background-color: #1976d2;
    color: #fff;
    padding: 16px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
  }

  .page-content {
    padding: 48px 24px;

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
      padding: 8px 0;
    }
  }
}

.offscreen-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(-100%);
  width: 250px;
  height: 100%;
  background-color: #1976d2;
  transition: transform ease-in-out 0.3s;

  &.active {
    transform: translateX(0);
  }
}

.offscreen-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    display: block;
  }

  a {
    padding: 8px 24px;
    text-decoration: none;
    background-color: #1976d2;
    color: #fff;
    font-weight: 900;
    display: block;
    transition: 0.3s background-color;

    &:hover {
      background-color: #f81190;
    }
  }
}
