@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

// Offscreen Menu

// works with fluid and fixed layouts
@mixin elr-offscreen-menu($config: ()) {
  $config: extend(
    (
      background-color: $primary-color,
      width: 200px,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $width: map-get($config, width);

  width: to-rems($width);
  position: absolute;
  left: -$width;
  height: 100%;
  background-color: $background-color;
  z-index: 100;
  overflow-y: scroll;
  top: 0;

  ul {
    @include elr-nav-bar(
      $config: (
        text-color: $white,
        hover-color: $white,
        divider-color: transparent,
        background-color: $background-color,
        inline: false,
      )
    );

    li a {
      padding: ($base-fontsize * 0.75) $base-fontsize;
    }
  }
}
