// Offscreen Menu

// works with fluid and fixed layouts
@mixin elr-offscreen-menu($config: ()) {
    $config: extend((
        bk-color: $main-color,
        width: 200px
    ), $config);

    $bk-color: map-get($config, bk-color);
    $width: map-get($config, width);

    width: to-rems($width);
    position: absolute;
    left: -$width;
    height: 100%;
    background-color: $bk-color;
    z-index: 100;
    overflow-y: scroll;
    top: 0;

    ul {
        @include elr-nav-bar(
            $config: (
                text-color: $white,
                hover-color: $white,
                divider-color: transparent,
                background-color: $bk-color,
                inline: false
            )
        );

        li a {
            padding: to-rems(10px) to-rems(15px);
        }
    }
}
